/*css variables in @keyframes*/

@keyframes bg {
    from {
        background-color: #00ff00;
    }
    to {
        background-color: #ff5050;
    }
}


/*css variables in @keyframes*/

@keyframes c {
    from {
        color: #00ff00;
    }
    to {
        color: #ff5050;
    }
}

button {
    animation: 2.5s bg infinite alternate;
    font-size: 24px;
    margin: 8px 4px;
    border-radius: 50%;
    padding: 16px 32px;
    text-align: center;
    font-family: Impact;
    border-style: solid;
}

.container {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

body {
    position: relative;
    background-image: url("../images/Nebula.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    animation: 2.5s bg infinite alternate;
}


/*css rule for footer*/

#footer {
    opacity: 0.75;
    text-align: center;
    color: beige;
    display: inline;
}

#footer a {
    color: green;
}

#footer a:hover {
    animation: 2.5s c infinite alternate;
}