/* Universal Styling */
/*Font-face*/

@font-face {
  font-family: "Blossom";
  src: url(../fonts/Strawberry_Blossom.ttf) format("truetype");
}

@font-face {
  font-family: "Space";
  src: url(../fonts/space_age.ttf) format("truetype");
}

/*css variables in @keyframes*/

@keyframes KeyGreenRedColor {
  from {
    color: #00ff00;
  }
  to {
    color: #ff5050;
  }
}

html {
  height: 100%;
  font-size: 14px;
}
body {
  /* display: flex; */
  background-color: transparent;
  background-image: url("../images/texture.jpg");
  background-size: cover;
  background-position: 50% 0;
  height: 100%;
  text-align: center;
  background-size: 100% 100vh;
  width: 94%;
}

h1 {
  font-size: 24rem;
  width: 100%;
  font-family: "Blossom";
  text-align: center;
  margin: 0 auto;
  animation: 2.5s KeyGreenRedColor infinite alternate;
  margin-top: 15rem;
}

/* Header Section - Desktop Navigation */
header {
  width: 100%;
  height: 3rem;
  z-index: 100;
  position: fixed;
  background: rgba(44, 44, 44, 0.9);
  border-radius: 1rem;
}
ul {
  display: inline-flex;
  justify-content: space-between;
}
li {
  font-size: 2.5rem;
  font-family: "Space";
}
li a {
  text-decoration: none;
  color: rgb(0, 255, 115);
  margin: 2rem;
  justify-content: stretch;
}
li a:hover {
  color: rgb(44, 44, 44);
  background-color: rgb(0, 255, 115);
  border-radius: 0.3rem;
}
li a:focus {
  color: rgb(44, 44, 44);
  background-color: rgb(0, 255, 115);
  border-radius: 0.3rem;
}
/* Main Section */
main {
  display: flex;
  justify-content: center;
}
#Coming {
  /* display: block; */
}
/*Footer*/

footer {
  color: rgb(93.7%, 71.9%, 56.6%);
  font-size: 1.5rem;
  text-align: center;
  padding: 0cm 1.5cm;
  width: 100%;
  opacity: 0.8;
  background-color: black;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  font-family: "Space";
  display: flex;
  justify-content: center;
}

footer a {
  font-size: 2rem;
  color: greenyellow;
  text-decoration: none;
}

/*************** 
****************
*@media queries*
****************
****************/
@media only screen and (max-width: 1340px) {
  h1 {
    font-size: 15rem;
  }
}

@media only screen and (max-width: 1140px) {
  li {
    font-size: 1.5rem;
  }
  footer {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 10rem;
  }
  li {
    display: none;
  }
  footer {
    font-size: 0.81rem !important;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 370px) {
  h1 {
    font-size: 6rem;
  }
}
