/* Universal Styling */
/*Font-face*/

@font-face {
  font-family: "Blossom";
  src: url(../fonts/Strawberry_Blossom.ttf) format("truetype");
}

@font-face {
  font-family: "Space";
  src: url(../fonts/space_age.ttf) format("truetype");
}

/*css variables in @keyframes*/

@keyframes KeyGreenRedColor {
  from {
    color: #00ff00;
  }

  to {
    color: #ff5050;
  }
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  text-align: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  z-index: -5555555;
}

h1 {
  font-size: 6rem;
  width: 100%;
  font-family: "Space";
  text-align: center;
  margin: 0 auto;
  animation: 2.5s KeyGreenRedColor infinite alternate;
  margin-top: 76rem;
}

/* Header Section -- Desktop Navigation */
header {
  width: 100%;
  z-index: 100;
  position: fixed;
  background: rgba(44, 44, 44, 0.9);
  border-radius: 1rem;
}

ul {
  display: inline-flex;
  justify-content: space-between;
}

li {
  font-size: 2.5rem;
  font-family: "Space";
}

li a {
  text-decoration: none;
  color: rgb(0, 255, 115);
  margin: 1rem;
  justify-content: stretch;
}

li a:hover {
  color: rgb(44, 44, 44);
  background-color: rgb(0, 255, 115);
  border-radius: 0.3rem;
}

li a:focus {
  color: rgb(44, 44, 44);
  background-color: rgb(0, 255, 115);
  border-radius: 0.3rem;
}

/* Main Section */
main {
  display: flex;
  justify-content: center;
  height: 93%;
}

/*Footer*/

footer {
  color: rgb(93.7%, 71.9%, 56.6%);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  opacity: 0.8;
  background-color: black;
  position: absolute;
  font-family: "Space";
  display: flex;
  justify-content: center;
  z-index: 9999999;
}

footer a {
  font-size: 2rem;
  color: greenyellow;
  text-decoration: none;
}

/*************** 
****************
*@media queries*
****************
****************/
@media only screen and (max-width: 1340px) {
  h1 {
    font-size: 15rem;
  }
}

@media only screen and (max-width: 1140px) {
  li {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 10rem;
  }

  li {
    font-size: 1.35rem;
  }

  footer {
    font-size: 0.81rem !important;
    width: auto;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 370px) {
  h1 {
    font-size: 6rem;
  }
}