/* Universal Styling */
/*Font-face*/

@font-face {
  font-family: "Blossom";
  src: url(../fonts/Strawberry_Blossom.ttf) format("truetype");
}

@font-face {
  font-family: "Space";
  src: url(../fonts/space_age.ttf) format("truetype");
}

/*css variables in @keyframes*/

@-webkit-keyframes KeyGreenRedColor {
  from {
    color: #00ff00;
  }

  to {
    color: #ff5050;
  }
}

@keyframes KeyGreenRedColor {
  from {
    color: #00ff00;
  }

  to {
    color: #ff5050;
  }
}

html {
  height: 100%;
  font-size: 14px;
  background-image: none;
}

body {
  background: rgb(41 41 42);
  text-align: center;
  /* background-size: 100% 100vh; */
  width: 100%;
  position: fixed !important;
}


#mainSet {
  display: flex;
  position: fixed;
}

canvas {
  z-index: -5555555;
}

h1 {
  font-size: 84px;
  font-size: 2rem;
  width: 100%;
  font-family: "Space";
  text-align: center;
  /* margin: 0 auto; */
  -webkit-animation: 2.5s KeyGreenRedColor infinite alternate;
  animation: 2.5s KeyGreenRedColor infinite alternate;
  margin-top: 0;
  margin-left: 800px;
  justify-content: center;
  justify-items: center;
  display: flex;
  /* width: 100%; */
}

/* Header Section -- Desktop Navigation */
header {
  width: 100%;
  height: 3rem;
  z-index: 100;
  position: fixed;
  background: rgba(44, 44, 44, 0.9);
  border-radius: 1rem;
  /* margin-left: 20%; */
}

ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

li {
  font-size: 35px;
  font-size: 2.5rem;
  font-family: "Space";
}

li a {
  text-decoration: none;
  color: rgb(0, 255, 115);
  margin: 14px;
  margin: 1rem;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

li a:hover {
  color: rgb(44, 44, 44);
  background-color: rgb(0, 255, 115);
  border-radius: 0.3rem;
}

li a:focus {
  color: rgb(44, 44, 44);
  background-color: rgb(0, 255, 115);
  border-radius: 0.3rem;
}

/* Main Section */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../images/zen.JPG");
  background-size: cover;
  background-repeat: round;
  opacity: 0.09;
}

#next {
  width: 100%;
  margin-top: 0%;
}

.arrows {
  margin-top: 9%;
  display: flex;
  height: 5%;
  justify-content: space-evenly;
  width: 40%;
  margin-right: 37%;
}

#arrowHeroes {
  border-radius: 30px;
  z-index: 99999;
  bottom: 0%;
  background-color: hsl(0, 0%, 2%);
  -webkit-animation: 2.5s KeyGreenRedColor infinite alternate;
  border: solid;
}

#arrowHeroes:hover {
  color: rgb(44, 44, 44);
  background-color: hsl(106, 66%, 72%) !important;
}

#arrowCoffee {
  border-radius: 30px;
  z-index: 99999;
  background-color: hsl(0, 0%, 2%);
  -webkit-animation: 2.5s KeyGreenRedColor infinite alternate;
  border: solid;
}

#arrowCoffee:hover {
  color: rgb(44, 44, 44);
  background-color: hsl(0, 89%, 50%) !important;
}


#Coming {
  /* display: block; */
}

/*Footer*/

footer {
  color: rgb(93.7%, 71.9%, 56.6%);
  font-size: -10.5rem;
  text-align: center;
  width: 100%;
  margin-top: 3%;
  margin-left: 1%;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  background-color: black;
  /* bottom: 0; */
  font-family: "Space";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99999999999999999999999999;
  position: fixed;
  /* border: solid red 1px; */
}

footer a {
  font-size: 2rem;
  color: greenyellow;
  text-decoration: none;
}



#muse {
  /* margin: 0 auto; */
}


/* supportive classes */

audio {
  width: 350px !important;
  width: 25rem !important;
  height: 14px !important;
  height: 1rem !important;
  /*   border: 1.3rem solid #73ff0014; */
  border-radius: 20rem;
  float: none;
  /* display: none!important; */
}


.audio {
  display: none !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

/* .audio:hover {
  display: block !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
} */


/*************** *************** *************** *************** *************** 
****************************** @media queries *************** ***************
*************** *************** *************** *************** ***************/
/* @media only screen and (max-width: 1340px) {
  h1 {
    font-size: 15rem;
  }
}

@media only screen and (max-width: 1140px) {
  li {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.9rem;
  }
} */
@media only screen and (max-width: 750px) {
  header {
    display: none;
  }

  .arrows {
    margin-top: 40%;
    display: flex;
    height: 5%;
    justify-content: space-evenly;
    width: 500%;
    margin-right: 37%;
    display: flex;
  }

  footer {
    opacity: 1;
    /*     border:solid red 1px; */
    width: 100%
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 6rem;
  }

  #next {
    width: 10%;
    margin-top: 52rem;
  }

  #arrow {
    background-color: hsl(208, 30%, 8%) !important;
  }

  li {
    height: 3rem;
    margin: 0 auto;
  }

  li a {
    text-decoration: none;
    color: rgb(0, 255, 115);
    font-size: 1.05rem;
  }
}

/* @media only screen and (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
} */

/* @media only screen and (max-width: 415px) {
  h1 {
    font-size: 6rem;
  }

  #next {
    width: 10%;
    margin-top: 52rem;
  }

  #arrow {
    background-color: hsl(208, 30%, 8%) !important;
  }

  li {
    height: 3rem;
    margin: 0 auto;
  }

  li a {
    text-decoration: none;
    color: rgb(0, 255, 115);
    font-size: 1.05rem;
  }
} */